:root {
  --clay-brown: #be5a38;
  --cocoa: #8c513d;
  --very-light-pink: #dadada;
  --squash: #f5a623;
  --bright-sky-blue: #23c2f5;
  --warm-grey: #7b7b7b;
  --scarlet: #d0021b;
}

.icon{
	margin:auto;
}

.bg-brown{
	background-color: var(--clay-brown);
}

.bg-cocoa{
	background-color: var(--cocoa);
}

.bg-pink{
	background-color: var(--very-light-pink);
}

.bg-squash{
	background-color: var(--squash);
}

.bg-blue{
	background-color: var(--bright-sky-blue);
}

.bg-grey{
	background-color: var(--warm-grey);
}

.bg-scarlet{
	background-color: var(--scarlet);
}

body{
	font-family: Microsoft JhengHei;
}

a{text-decoration: none}
/*
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
*/

@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}

.bg-color {
    background-color: #fffaed;
}

.banner {
    height: 200px;
    background-color: #f5c323;
    text-align: center;
}

.cps {
/ / width: 90 px;
/ / height: 28 px;
    padding-top: 55px;
    font-family: Ethnocentric;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.banner-text {
/ / width: 96 px;
/ / height: 24 px;
    font-family: MicrosoftJhengHei;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
    text-align: center;
    color: #ffffff;
}

.banner-wellcome {
    padding-top: 5px;
/ / width: 157 px;
/ / height: 37 px;
    font-family: MicrosoftJhengHei;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.login-title {
    width: 410px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.13);
    background-color: var(--clay-brown);
}

.-Login {
    padding-top: 11px;
    font-family: MicrosoftJhengHei;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.login-content {
    width: 410px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 45px;
	padding-bottom: 35px;
}

.master-banner {
    height: 40px;
    background-color: #f5c323;
    text-align: center;
}

.master-cps{
    padding-top: 6px;
    font-family: Ethnocentric;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.master-banner2 {
    height: 50px;
    background-color: var(--clay-brown);
	padding-top: 15px;
	padding-left: 112px;
	padding-right: 112px;
	font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.btn-r {
  border-radius: 4px;
  background-color: var(--clay-brown);
}

.btn-r {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.nav-custom{
	width:100%;
	padding-left:112px;
	padding-right:112px;
	height:50px;
	background-color: var(--clay-brown);
}

.nav-link{
	color: #ffffff;
}

.main-padding{
	padding-left:112px;
	padding-right:112px;
}

.main-block{
	height: 179px;
  box-shadow: 0 0 4px 3px rgba(203, 203, 203, 0.14);
  background-color: #ffffff;
  padding-top:30px;
  padding-left:40px;
  margin-bottom:10px;
}

.main-block-sub{
  max-width: 240px;
  height: 85px;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-right:10px;
}

.main-block-sub-icon{
	margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius:999em;
}
