:root {
    --clay-brown: #be5a38;
    --cocoa: #8c513d;
    --very-light-pink: #dadada;
}

body{
	font-family: Microsoft JhengHei;
}

.bg-color {
    background-color: #fffaed;
}

.banner {
    height: 200px;
    background-color: #f5c323;
    text-align: center;
}

.cps {
/ / width: 90 px;
/ / height: 28 px;
    padding-top: 55px;
    font-family: Ethnocentric;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.banner-text {
/ / width: 96 px;
/ / height: 24 px;
    font-family: MicrosoftJhengHei;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
    text-align: center;
    color: #ffffff;
}

.banner-wellcome {
    padding-top: 5px;
/ / width: 157 px;
/ / height: 37 px;
    font-family: MicrosoftJhengHei;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.login-title {
    width: 410px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.13);
    background-color: var(--clay-brown);
}

.-Login {
    padding-top: 11px;
    font-family: MicrosoftJhengHei;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.login-content {
    width: 410px;
    height: 325px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 45px;
}

.master-banner {
    height: 40px;
    background-color: #f5c323;
    text-align: center;
}

.master-cps{
    padding-top: 6px;
    font-family: Ethnocentric;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    text-align: center;
    color: #ffffff;
}

.master-banner2 {
    height: 50px;
    background-color: var(--clay-brown);
	padding-top: 15px;
	padding-left: 112px;
	padding-right: 112px;
	font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.btn-r {
  border-radius: 4px;
  background-color: var(--clay-brown);
}

.btn-r {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.nav-custom{
	width:100%;
	padding-left:112px;
	padding-right:112px;
	height:50px;
	background-color: var(--clay-brown);
}

.nav-link{
	color: #ffffff;
}

.main-padding{
	padding-left:112px;
	padding-right:112px;
}